.form_addVatTu{
    width: 750px;
    margin-left: 10%;
    margin-top: 30px;
}
.form_addVatTu label{
    width: 200px;
    float: left;
}
.form_addVatTu input{
    width: 200px;
    float: left;
}
.form_addVatTu select{
    width: 200px;
    float: left;
}
.submit{
    margin-left: 10px;
}