.info{
    width: 700px;
    display: flex;
    justify-content: center;
    form{
        margin-left: 110px;
        select{
            width: 208px;
        }
        input {
            width: 208px;
        }
    }

}