<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Download</title>
</head>
<body>
    <div class="container">
        <%- include('header.ejs')%>
        <h4>Dowload file</h4>
        <button class="btn btn-success" ><a href="<%= path %>" style="width: 100%; height: 100%;">Dowload</a></button>
    </div>
    <script
            src="https://kit.fontawesome.com/0ec6e9d798.js"
            crossorigin="anonymous"></script>
</body>
</html>