<header class="container bg-secondary">
    <div class="row">
        <div class="col-md-6 mt-2">
            <h3>Quản lý vật tư</h3>
        </div>
        <div class="col-md-6 d-flex justify-content-end mt-3">
            <a class="d-inline-block" href="##"
                > <i
                class="fa-solid fa-user fa-lg mr-2"
                style="color: #000000"></i
            >Phan Đức Kiên
               </a>
        </div>
    </div>
    <hr />
    <div class="row bg-primary">
        <nav class="navbar navbar-expand navbar-light ml-5">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a href="/">Vật tư</a>
                </li>
                <li class="nav-item">
                    <a href="#">Xuất nhập kho</a>
                </li>
                <li class="nav-item">
                    <a href="#">Báo cáo thống kê</a>
                </li>
                <li class="nav-item">
                    <a href="#">Hóa đơn</a>
                </li>
                <li class="nav-item">
                    <a href="#">Nhân viên</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input
                    class="form-control mr-sm-2"
                    type="text"
                    placeholder="Search" />
                <button
                    class="btn btn-success my-2 my-sm-0"
                    type="submit"
                    ><i class="fas fa-search fa-lg"></i
                ></button>
            </form>
        </nav>
    </div>
</header>