.form{
    width: 750px;
    margin-left: 10%;
    margin-top: 30px;
}
.form label{
    width: 200px;
    float: left;
}
.form input{
    width: 200px;
    float: left;
}
.form select{
    width: 200px;
    float: left;
}
.submit{
    margin-left: 10px;
}