.header_content{
    align-items: center;
    width: 100%;
}
.title a{
    text-decoration: none;
    color: #000;
}
.search_input{
    width: 300px;
    margin-right: 10px;
}
.user a{
    text-decoration: none !important;
}
.user_icon{
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 200px;
}
.user_icon .icon {
    margin-top: 10px;
}
.user_name{
    margin-left: 10px;
    margin-top: 5px;
    color: #000;
}